* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 54%, 90%);
  color: #5F564D;
}

.main-space {
  display: flex;
  justify-content: center;
}

.main-container {
  margin: 124px 0px;
  width: 737px;
  max-width: 737px;
  height: auto;
  background-color: #fff;
  /* border: none 0px solid; */
  border-radius: 24px;
}

/* Image container */

.img-ct {
  max-width: 737px;
  height: 380px;
  display: flex;
  justify-content: center;
}

.img-ome {
  max-width: 657px; /* La imagen no será más ancha que su contenedor */
  height: auto; /* Para mantener la proporción de la imagen */
  margin: 40px;
  border-radius: 12px;
}

/* Text container */

.text-ct {
  width: 657px;
  height: auto;
  margin: 0 auto;
  font-family: "outfit";
}

h1 {
  font-size: 40px;
  font-family: "Young Serif";
  font-weight: 400;
  margin-bottom: 24px;
  color: #312E2C;
}

.text-preparation {
  margin-top: 60px;
  margin: 32px 28px 32px 28px;
}

.text-preparation h3 {
  color: #7a284e;
  padding: 28px 0px 16px;
}

.item-prep {
  padding-bottom: 8px;
  color: #5f564d;
}

.dot-item-prep {
  width: 16px;
  height: auto;
  margin-left: 8px;
  margin-right: 16px;
}

.dot-item-prep ul li {
  list-style-position: inside;
  color: #7A284E;
}

.item-prep {
  display: flex;
  flex-wrap: nowrap;
}

.text-preparation span {
  font-weight: 700;
}

/* Ingredients */

.text-ingredients {
  margin-bottom: 32px;
}

.text-ingredients h2 {
  color: #854632;
  font-family: "Young Serif";
  font-weight: 400;
  margin-bottom: 24px;
}

.item-ingr {
  padding-bottom: 8px;
  color: #5f564d;
}

.dot-item-ingr {
  width: 16px;
  height: auto;
  margin-left: 8px;
  margin-right: 16px;
}

.dot-item-ingr ul li {
  list-style-position: inside;
  color: #854632;
}

.item-ingr {
  display: flex;
  flex-wrap: nowrap;
}

/* Instructions */

.text-instr {
  margin: 32px 0px;
}

.text-instr h2 {
  color: #854632;
  font-family: "Young Serif";
  font-weight: 400;

}

.instr {
  margin-top: 24px;
}

.item-instr {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 8px;
}

.num-item {
  min-width: 16px;
  margin-left: 8px;
  margin-right: 16px;
}

/* Nutrition */

.text-nutrition {
  margin: 32px 0px 40px;
}

.text-nutrition h2 {
  color: #854632;
  font-family: "Young Serif";
  font-weight: 400;
}

.nt-p {
  margin: 24px 0px
}

.row-nt {
  display: flex;
  width: auto;
  margin: 12px 0px 12px 0px;
  padding: 0px 32px;
}

.calories, .carbs, .protein, .fat {
  flex: 1; /* Ambos divs ocuparán el mismo espacio disponible */
  height: 24px; /* Altura de los divs */
  line-height: 24px;
}

.nutrition-value {
  color: #854632;
}

/* Others */

hr {
  border-width: 0.005px;
  border-color: transparent;
  border-bottom-color: #E3DDD7;
}

/* ---------------------- */

.attribution {
  font-size: 12px;
  text-align: center;
  font-family: "outfit";
  margin: 3px 0px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media only screen and (max-width: 375px) {
  /* Estilos para pantallas más pequeñas */
  .main-container {
    margin: 0;
    width: 100%;
  }

  .img-ct {
    width: 100vw;
    display: block;
    height: auto;
  }

  .img-ome {
    max-width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0px;
  }

  .text-ct {
    width: 100%;
    margin-top: 30px;
  }

  .text-title {
    margin: 0px 32px 32px;
  }

  h1 {
    font-size: 36px;
  }

  .text-preparation {
    margin: 32px;
  }

  .text-preparation h3 {
    padding: 24px 24px 16px;
  }

  .prep {
    margin: 0 24px 24px 24px;
  }

  .text-ingredients {
    margin: 0 32px 32px 32px;
  }

  .text-instr {
    margin: 32px;
  }

  .text-nutrition {
    margin: 32px 32px 40px 32px;
  }

}